<div class="roadmap-item :|§.status.§|:">
    <div class="roadmap-node"></div>
    <div class="roadmap-content">
        <span class="date">:|§.date_start.§|:</span>
        <div class="roadmap-image">
            <img src=":|§.image_url.§|:" alt=":|§.title.§|:">
        </div>
        <h2 class="uo-fx-cyan-magic" >:|§.title.§|:</h2>
        <p>:|§.description.§|:</p>
    </div>
</div>

<!-- <div class="roadmap-item roadmap-image-inside :|§.status.§|:">
    <div class="roadmap-node"></div>
    <div class="roadmap-bg-image" style="background-image: url(':|§.image_url.§|:');"></div>
    
    <div class="roadmap-content">
        <span class="date">:|§.date_start.§|:</span>
        <h3>:|§.title.§|:</h3>
        <p>:|§.description.§|:</p>
    </div>
</div> -->